@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ContentPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<main>
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-caption">
                        <h2 class="page-title">@Umbraco.Field("pageName")</h2>
                        <div class="page-breadcrumb">
                            <ol class="breadcrumb">
                                <li><a href="index.html">Home</a></li>
                                <li class="active">@Umbraco.Field("pageName")</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="post-holder">
                                <h1>@Umbraco.Field("title")</h1>
                                <!-- post holder -->
                                <div class="post-img">
                                    @{
                                        var typedMediaPickerSingle = Model.Content.GetPropertyValue<IPublishedContent>("image");
                                        if (typedMediaPickerSingle != null)
                                        {
                                            <img src="@typedMediaPickerSingle.Url" alt="@typedMediaPickerSingle.GetPropertyValue("alt")" class="img-responsive"/>
                                        }
                                    }   
                                </div>
                                <div class="post-content">
                                    <!-- post content -->
                                    @Umbraco.Field("summary")
                                    @Umbraco.Field("body")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>